<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje proizvoda</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">
    Modifikacija proizvoda: {{ data.id }}
  </h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje proizvoda: {{ data.id }}</h3>

  <form class="mat-dialog-content" (ngSubmit)="(submit)" #formControl="ngForm">
    <div class="form">
      <mat-form-field class="example-full-width">
        <input
          type="tel"
          matInput
          placeholder="Naziv"
          [(ngModel)]="data.naziv"
          name="naziv"
          [disabled]="flag == 3"
        />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-select
          [(ngModel)]="data.proizvodjac"
          placeholder="Proizvodjac"
          name="proizvodjac"
          [compareWith]="compareTo"
          [disabled]="flag == 3"
        >
          <mat-option
            *ngFor="let proizvodjac of proizvodjaci"
            [value]="proizvodjac"
          >
            {{ proizvodjac.naziv }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button
        mat-button
        *ngIf="flag == 1"
        [type]="submit"
        [disabled]="!formControl.valid"
        [mat-dialog-close]="1"
        (click)="add()"
      >
        Sačuvaj
      </button>
      <button
        mat-button
        *ngIf="flag == 2"
        [type]="submit"
        [disabled]="!formControl.valid"
        [mat-dialog-close]="1"
        (click)="update()"
      >
        Sačuvaj
      </button>
      <button
        mat-button
        *ngIf="flag == 3"
        [type]="submit"
        [mat-dialog-close]="1"
        (click)="delete()"
      >
        Obriši
      </button>
      <button mat-button (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
  </form>
</div>
