<mat-toolbar color="primary">
  <span class="title-center">Racun</span>
</mat-toolbar>

<div class="container mat-elevation-z8">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="datum">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Datum</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.datum }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nacin_placanja">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Nacin placanja</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.nacin_placanja }}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openDialog(1)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i = index">
        <button
          mat-icon-button
          color="primary"
          (click)="openDialog(2, row.id, row.datum, row.nacin_placanja)"
        >
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          (click)="openDialog(3, row.id, row.datum, row.nacin_placanja)"
        >
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      style="cursor: default"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>

  <mat-paginator
    [pageSize]="[5]"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
