<mat-toolbar class="toolbarNew" color="primary">
  <span class="title-center">Stavka racuna</span>
</mat-toolbar>
<div class="container mat-elevation-z8">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>
  <mat-table #table [dataSource]="dataSource" class="mat-cell" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="racun">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Racun</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.racun.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="redniBroj">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Redni broj</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.redniBroj }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="kolicina">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Količina</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.kolicina }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="jedinica_mere">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Jedinica mere</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.jedinica_mere }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cena">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cena</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.cena }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="proizvod">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Proizvod</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.proizvod.naziv }}</mat-cell>
    </ng-container>
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openDialog(1)">
          <mat-icon aria-label="Example icon-button with a heart icon"
            >add</mat-icon
          >
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i = index">
        <button
          mat-icon-button
          color="primary"
          (click)="
            openDialog(
              2,
              row.id,
              row.redniBroj,
              row.kolicina,
              row.jedinica_mere,
              row.cena,
              row.racun,
              row.proizvod
            )
          "
        >
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="primary"
          (click)="
            openDialog(
              3,
              row.id,
              row.redniBroj,
              row.kolicina,
              row.jedinica_mere,
              row.cena,
              row.racun,
              row.proizvod
            )
          "
        >
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      style="cursor: default"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [pageSize]="[5]"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
